*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
.image{
    width: 800px;
    height: 200px;
    object-fit: contain;
    display: flex;
    justify-content: ;

}
